.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #9575CD ;
    color:floralwhite;
}

.row-header{
    margin: 0px auto;
    padding: 0px;
}

.row-content{
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    border-bottom-color: rgb(246, 246, 255) ;
    min-height:400px;
}

.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 20px 20px 20px;
}

body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark {
    background-color: #512DA8;
}

.navbar-toggler:focus{
    outline: none;
    border: none;
}

.thead-dark{
    color: #ffffff;
    background-color: #373a3c;;
}

.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

#accordion:hover{
    cursor: pointer;
}